<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Salas de Reunião</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Hora início</th>
            <th>Hora Fim</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sala of salas | async">
            <td>{{sala.nome}}</td>
            <td>{{sala.data}}</td>
            <td>{{sala.horaInicio}}</td>
            <td>{{sala.horaFim}}</td>
            <td><button (click)="deleteSala(sala.id)" class="btn btn-danger">Apagar</button>
              <button (click)="updateSala(sala.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
                <button (click)="salaDetails(sala.id)" class="btn btn-info" style="margin-left: 10px">Detalhe</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>