<h3>Atualizar Sala</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="sala.nome" name="nome">
    </div>

    <div class="form-group">
      <label for="name">Data</label>
      <input type="text" class="form-control" id="data" required [(ngModel)]="sala.data" name="data">
    </div>

    <div class="form-group">
      <label for="name">Hora Inicio</label>
      <input type="text" class="form-control" id="horaInicio" required [(ngModel)]="sala.horaInicio" name="horaInicio">
    </div>

    <div class="form-group">
      <label for="name">end Hour</label>
      <input type="text" class="form-control" id="horaFim" required [(ngModel)]="sala.horaFim" name="horaFim">
    </div>

    <button type="submit" class="btn btn-success">Atualizar</button>
  </form>
</div>